<table class="table">
  <tr>
    <td>Id</td>
    <td>Pickup</td>
    <td>Destination</td>
    <td>Payment</td>
    <td>Distance</td>
    <td>Total</td>
    <td>Customer</td>
    <td>Driver</td>
    <td>Action</td>
  </tr>

  <% @orders.each do|o| %>
  <tr class="<%= cycle('list_line_odd','list_line_even')%>">
    <td><%= o.id %></td>
    <td><%= o.pickup %></td>
    <td><%= o.destination %></td>
    <td><%= o.payment %></td>
    <td><%= o.distance %></td>
    <td><%= number_to_currency(o.total, unit: "Rp ", delimiter: ".", separator: ",")  %></td>
    <td><%= o.customer.name %></td>
    <td></td>
    <td>  <%= link_to 'Show', o %>
          <%= link_to 'Edit', edit_order_path(o) %>
          <%= link_to 'Destroy', o, method: :delete, data: { confirm: 'Are you sure?' } %>
    </td>
  </tr>
  <% end %>
</table>
