
<% provide(:button_text, 'Place Order') %>
<h1>Confirm Order</h1>
<p style="text-align: center
">Please ensure input the details below..</p>


<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
  <%= form_for(@order, url:place_order_path) do |f| %>
    <%= render 'error_messages' %>

    <%= f.label :pickup %>
    <%= f.text_field :pickup, readonly: true, class: 'form-control' %>

    <%= f.label :destination %>
    <%= f.text_field :destination, readonly: true, class: 'form-control' %>

    <%= f.hidden_field :service, value: @order.service %>

    <table class="table">
      <tr>
        <td>Service </td>
        <td><%= @order.service.upcase  %></td>
      </tr>

      <tr>
        <td>Distance</td>
        <td><%= @order.distance_matrix  %> Km</td>
      </tr>

      <tr>
        <td>Total Cost</td>
        <td><%= number_to_currency(@order.distance_matrix * @order.cost_per_km, unit: "Rp ", delimiter: ".", separator: ",") %></td>
      </tr>

      <tr>
        <td>Please Choose Your Payment</td>
        <td>
          <% if @order.gopay_sufficient? %>
            <div class="radio">
              <label>
                <%= f.radio_button :payment, 'cash'%>
                CASH
              </label>
            </div>
            <div class="radio">
              <label>
                <%= f.radio_button :payment, 'gopay', :checked => true %>
                GOPAY
              </label>
            </div>
            your gopay credit : <%= number_to_currency(@order.customer.gopay, unit: "Rp ", delimiter: ".", separator: ",")  %>
          <% else %>
            <div class="radio">
              <label>
                <%= f.radio_button :payment, 'cash', :checked => true%>
                CASH
              </label>
            </div>
            <div class="radio">
              <label>
                <%= f.radio_button :payment, 'gopay', disabled: true %>
                GOPAY
              </label>
            </div>
            your gopay credit is not sufficient: <%= number_to_currency(@order.customer.gopay, unit: "Rp ", delimiter: ".", separator: ",")  %>

          <% end %>
        </td>
      <tr>

    </table>

    <%= f.submit yield(:button_text), class: "btn btn-primary" %>
  <% end %>
  </div>
</div>
